
{% extends 'layout/base.html' %}

{% load static from staticfiles %}


{% block header %}
    {% include 'partials/header.html' %}
{% endblock header %}

{% block layout %}
<div class="content">
	<div class="container">
		<div class="home-container">
			<h3>Welcome</h3> <h4> {{user.first_name}} </h4>
		</div>

		<table id="notifications-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Recipient</th>
                        <th>Actor</th>
                        <th>Verb</th>
                        <th>Action Object</th>
                        <th>Target</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    <tr>
                        {# <td>{{ notification.timestamp|date:"c" }}</td> #}
                        <td>{{ notification.recipient|default:"" }}</td>
                        <td>{{ notification.actor|default:"" }}</td>
                        <td>{{ notification.verb|default:"" }}</td>
                        <td>{{ notification.action_object|default:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
	</div>
	<div class="arrow" id="arrow">
		<img src="{% static 'images/uparrow.png' %}" height="50px" width="50px"></img>
	</div>
	<div id="myNav" class="notification-container">
		<div class="notification-content">
			<div class="notification-heading">
				<h2> Notifications {{ notification_count}}</h2>
			</div>
			<div class="items" id="items">
			    <ul class="notifications-items">
			    	{% for item in notifications%}
			    		{% if item.status == 0 %}
			    			<li id="unread">
			    		{% else %}
				    		<li id="read">
			    		{% endif %}
			    			<h3>{{item.notifier.first_name}} {{item.notifier.last_name}}</h3>
			    			<h4>{{item.notification_type}} your {{item.notification_media}}</h4>
			    			<p>{{item.time_of_creation}}</p>
			    		</li>
			    	{% endfor%}
			    </ul>
			</div>
	    </div>
	</div>
</div>
{% endblock layout %} 