
{% extends 'layout/base.html' %}

{% load static from staticfiles %}


{% block header %}
    {% include 'partials/header.html' %}
{% endblock header %}

{% block layout %}
<div class="content">
	<div class="container">
		<div class="home-container">
			<h3>Welcome</h3> <h4> {{user.first_name}} </h4>
		</div>
	</div>
	<div class="arrow" id="arrow">
		<img src="{% static 'images/uparrow.png' %}" height="50px" width="50px"></img>
	</div>
	<div id="myNav" class="notification-container">
		<div class="notification-content">
			<div class="notification-heading" data-noti-count="{{ notification_count }}">
				<h2> Notifications {{ notification_count}}</h2>
			</div>
			<div class="items" id="items">
			    <ul class="notifications-items">
			    	{% for item in notifications%}
			    		{% if item.status == 0 %}
			    			<li class="unread">
			    		{% else %}
				    		<li class="read">
			    		{% endif %}
			    			<h3>{{item.notifier.first_name}} {{item.notifier.last_name}}</h3>
			    			<h4>{{item.notification_type}} your {{item.notification_media}}</h4>
			    			<p>{{item.time_of_creation}}</p>
			    		</li>
			    	{% endfor%}
			    </ul>
			</div>
	    </div>
	</div>
</div>
{% endblock layout %} 