Django==1.9
MySQL-python==1.2.5
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.23
decorator==4.0.9
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
kombu==3.0.35
mysql==0.0.1
ordereddict==1.1
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pytz==2016.4
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
wsgiref==0.1.2
