{% load static from staticfiles %}

<div class="header">
    <div class="container">        
        {% if user.is_authenticated %}
            <div class="heading">
                <h2> Wingify </h2>
            </div>
            <div class="notifications">
                <a class="notify bell" data-status="close" href="#">
                    <div class="notification-bell">
                        <img src="{% static 'images/notification_bell.png' %}" heigh="40px" width="40px"></img>
                    </div>
                        <div class="count" id="count" data-count="{{notification_count}}">
                            <strong>{{notification_count}}</strong>
                        </div>
                    <form class="notification-form" id="notification-form" method="POST" action="">
                        {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user_obj.id }}">
                            {% for item in notifications%}
                                {% if item.status == 0 %}
                                    <input type="hidden" name="notific_id" value="{{ item.id }}">
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" id="notif-box-status" name="box_status" value="close">

                    </form> 
<!--                    <form class="box-status-form" id="box-status-form" method="POST" action="">
                        {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user_obj.id }}">
                    </form>
-->                </a>
            </div>
            <div class="logout">
            {{ user.first_name }}, 
                <a class="logout-link" href="{% url 'accounts:logout' %}">
                    Logout
                </a>
            </div>
        {% endif %}
    </div>
</div>
