{% load static from staticfiles %}

<div class="header">
    <div class="container">        
        {% if user.is_authenticated %}
            <div class="heading">
                <h2> Wingify </h2>
            </div>
            <div class="notifications">
                <a class="notify" href="#">
                    <div class="notification-bell">
                        <img src="{% static 'images/notification_bell.png' %}" heigh="40px" width="40px"></img>
                    </div>
                    {% if notification_count != 0 %}
                        <div class="count" id="count" data-count="{{notification_count}}">
                            <strong>{{notification_count}}</strong>
                        </div>
                    {% endif %}                    
                </a>
            </div>
            <div class="logout">
            {{ user.first_name }}, 
                <a class="logout-link" href="{% url 'accounts:logout' %}">
                    Logout
                </a>
            </div>
        {% endif %}
    </div>
</div>
