{% load static from staticfiles %}
<html>
    <head>
        <title>{% block title %}Wingify{% endblock title %}</title>
        <!-- CSS Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

        <!-- Javascript -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script src="http://localhost:8002/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="body-container">
            {% block header %}
            {% endblock header %}

            {% block layout %}
            {% endblock layout %}

        </div>

        {% block login_layout %}
        {% endblock login_layout %}
    
    </body>
</html>
